{{define "includes"}}
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<meta name="author" content="sam">
		<meta name="description" content="cam recording viewer for browser">
		<title>SAM's Cam Viewer</title>
    	<link rel="stylesheet" href="../static/normalize.css">
		<link rel="stylesheet" href="../static/milligram.css">
        <link rel="stylesheet" href="../static/main.css">
        <!-- <script src=" ../static/js/tablesearch.js"></script> -->
{{end}}